n8n.json
{
  "meta": {
    "instanceId": "252720bdd0efe4223a364ecf10fdcb8d252f27dfd2fd266160caaee1578143fa"
  },
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "databaseId": {
          "__rl": true,
          "value": "d2b998ae-7a66-4c09-aa81-3bac872732ba",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://www.notion.so/d2b998ae7a664c09aa813bac872732ba"
        }
      },
      "id": "0628d296-bb96-435b-acb4-149d551cfd2c",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        480
      ],
      "credentials": {
        "notionApi": {
          "id": "6eRrlrUe8SemQqrH",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "todoistno": false,
            "id": "={{ $json.id }}",
            "name": "={{ $json.properties['Task name'].title[0].text.content }}",
            "property_due_start": "= {{ $json.properties.Due.date.start }}",
            "property_summary": "=",
            "id_todoist": "={{ $json.properties.ToDoIst_ID.rich_text[0].text.content }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_task_name",
              "displayName": "property_task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_tags",
              "displayName": "property_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_assignees",
              "displayName": "property_assignees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_status",
              "displayName": "property_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_priority",
              "displayName": "property_priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_summary",
              "displayName": "property_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_due_start",
              "displayName": "property_due_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_due_end",
              "displayName": "property_due_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_sub_tasks",
              "displayName": "property_sub_tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_is_blocking",
              "displayName": "property_is_blocking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_blocked_by",
              "displayName": "property_blocked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_project",
              "displayName": "property_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_todoist",
              "displayName": "id_todoist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "todoistno",
              "displayName": "todoistno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d36f6c4f-487d-4c49-840f-693d8427408b",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        100,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "VjwtHD0NlADbWi30",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "2324307389",
          "mode": "list",
          "cachedResultName": "Inbox"
        },
        "labels": "=",
        "content": "={{ $json['Task name'] }}",
        "options": {
          "description": "",
          "dueString": "={{ $json.Due.start }}"
        }
      },
      "id": "8f0978fc-8dff-4b2b-ac09-5ff7b6ff6faa",
      "name": "Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        -280,
        520
      ],
      "credentials": {
        "todoistApi": {
          "id": "5RHpDPAoe4hTXec0",
          "name": "brendonka"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Todoist ID empty?').item.json.id }}",
          "mode": "id"
        },
        "simple": "=",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ToDoIst_ID|rich_text",
              "textContent": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89568f21-6f10-40dc-8176-a58e0f384bd5",
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -80,
        520
      ],
      "credentials": {
        "notionApi": {
          "id": "6eRrlrUe8SemQqrH",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 1
            }
          ]
        }
      },
      "id": "e983e4a6-5a2f-4178-bcc4-b9fee83f8a2b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "e1d21a4c-8b2b-4608-9641-150381641e0f",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -760,
        1620
      ],
      "credentials": {
        "postgres": {
          "id": "VjwtHD0NlADbWi30",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "d2b998ae-7a66-4c09-aa81-3bac872732ba",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://www.notion.so/d2b998ae7a664c09aa813bac872732ba"
        },
        "title": "={{ $json.content }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "ToDoIst_ID|rich_text",
              "textContent": "={{ $json.id }}"
            },
            {
              "key": "Due|date",
              "date": "={{ $json.due.datetime }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9078964f-ed56-4a29-b804-376be204b879",
      "name": "Notion1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -200,
        1240
      ],
      "credentials": {
        "notionApi": {
          "id": "6eRrlrUe8SemQqrH",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "todoistno": false,
            "id": "={{ $json.id }}",
            "property_due_start": "={{ $json.Due.start }}",
            "name": "={{ $json['Task name'] }}",
            "id_todoist": "={{ $json.ToDoIst_ID }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_task_name",
              "displayName": "property_task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_tags",
              "displayName": "property_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_assignees",
              "displayName": "property_assignees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_status",
              "displayName": "property_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_priority",
              "displayName": "property_priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_summary",
              "displayName": "property_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_due_start",
              "displayName": "property_due_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_due_end",
              "displayName": "property_due_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_sub_tasks",
              "displayName": "property_sub_tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_is_blocking",
              "displayName": "property_is_blocking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_blocked_by",
              "displayName": "property_blocked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_project",
              "displayName": "property_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_todoist",
              "displayName": "id_todoist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "todoistno",
              "displayName": "todoistno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "79fee873-3a20-4a4e-bf32-b9c6d29b2903",
      "name": "Postgres4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        100,
        680
      ],
      "credentials": {
        "postgres": {
          "id": "VjwtHD0NlADbWi30",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "d2b998ae-7a66-4c09-aa81-3bac872732ba",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://www.notion.so/d2b998ae7a664c09aa813bac872732ba"
        }
      },
      "id": "cee6a5c9-96b3-487e-8cb4-e466e4fdef99",
      "name": "Notion Trigger1",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        780
      ],
      "credentials": {
        "notionApi": {
          "id": "6eRrlrUe8SemQqrH",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "taskId": "={{ $json.id_todoist }}",
        "updateFields": {
          "content": "={{ $json.name }}",
          "dueString": "={{ $json.property_due_start }}"
        }
      },
      "id": "dadb25c3-4235-47a5-9a3a-1f8eb9054e85",
      "name": "Todoist1",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        400,
        680
      ],
      "credentials": {
        "todoistApi": {
          "id": "5RHpDPAoe4hTXec0",
          "name": "brendonka"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "id": "8efb6f31-1a5e-4102-8138-2622bff0bdcf",
      "name": "Todoist2",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        -780,
        1360
      ],
      "credentials": {
        "todoistApi": {
          "id": "5RHpDPAoe4hTXec0",
          "name": "brendonka"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ToDoIst_ID }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "0b850610-629d-4f76-be8f-440f00ff4e65",
      "name": "Todoist ID empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -700,
        600
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "todoistno": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_task_name",
              "displayName": "property_task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_tags",
              "displayName": "property_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_assignees",
              "displayName": "property_assignees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_status",
              "displayName": "property_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_priority",
              "displayName": "property_priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_summary",
              "displayName": "property_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_due_start",
              "displayName": "property_due_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_due_end",
              "displayName": "property_due_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_sub_tasks",
              "displayName": "property_sub_tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_is_blocking",
              "displayName": "property_is_blocking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_blocked_by",
              "displayName": "property_blocked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_project",
              "displayName": "property_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_todoist",
              "displayName": "id_todoist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "todoistno",
              "displayName": "todoistno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c5a91065-b411-4105-9085-bfb37e6a2bde",
      "name": "Postgres5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        140,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "VjwtHD0NlADbWi30",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "taskId": "={{ json.id}}",
        "updateFields": {}
      },
      "id": "3e174c75-c906-4b0d-bee5-07b00758a11f",
      "name": "Todoist4",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2,
      "position": [
        400,
        1260
      ],
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "todoistno": false,
            "id": "={{ $json.id }}",
            "name": "={{ $json['Task name'] }}",
            "property_due_start": "={{ $json.Due.start }}",
            "property_summary": "={{ $json.Tags }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_task_name",
              "displayName": "property_task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_tags",
              "displayName": "property_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_assignees",
              "displayName": "property_assignees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_status",
              "displayName": "property_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_priority",
              "displayName": "property_priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_summary",
              "displayName": "property_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_due_start",
              "displayName": "property_due_start",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_due_end",
              "displayName": "property_due_end",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_sub_tasks",
              "displayName": "property_sub_tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_is_blocking",
              "displayName": "property_is_blocking",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_blocked_by",
              "displayName": "property_blocked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_project",
              "displayName": "property_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_todoist",
              "displayName": "id_todoist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "todoistno",
              "displayName": "todoistno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "39b3b118-3b66-4091-9f2a-1a745b7c2f3e",
      "name": "Postgres3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        140,
        1260
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "probably not necessary, since it will trigger the other node",
        "height": 219,
        "width": 408
      },
      "id": "910702d8-c9f1-479e-b4d4-b7b1de94cde2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        1180
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id_todoist",
              "field2": "keys.id_todoist"
            },
            {
              "field1": "name",
              "field2": "different.name.inputA"
            },
            {
              "field1": "property_due_start",
              "field2": "different.property_due_start.inputA"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "id": "c6678274-d6ba-4d1c-9cbf-272c8c882f31",
      "name": "keep changes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -200,
        1520
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "get",
        "pageId": {
          "__rl": true,
          "mode": "url",
          "value": ""
        }
      },
      "id": "c823c1d7-e25f-4ca5-ad0e-40edd3878a49",
      "name": "Notion2",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        360,
        1520
      ],
      "credentials": {
        "notionApi": {
          "id": "6eRrlrUe8SemQqrH",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "id": "0a8ad4e7-84fa-4c98-847e-2a67b7152cee",
      "name": "check if postgress is newer or notion lastedited",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        580,
        1480
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "url",
          "value": ""
        },
        "options": {}
      },
      "id": "555828f7-0e43-4c05-877a-9d0287261971",
      "name": "Notion3",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        820,
        1440
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "42d4fd9d-79d4-4105-ac56-3e47af98450a",
      "name": "Postgres6",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -560,
        780
      ],
      "credentials": {
        "postgres": {
          "id": "VjwtHD0NlADbWi30",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "ToDoIst_ID",
              "field2": "id_todoist"
            },
            {
              "field1": "['Task name']",
              "field2": "name"
            },
            {
              "field1": "Due.start",
              "field2": "property_due_start"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "ef6e4768-9ca8-4373-ad20-15c1f220e263",
      "name": "keep changes1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -280,
        680
      ]
    },
    {
      "parameters": {
        "combineOperation": "any"
      },
      "id": "777ab592-4f49-4bee-ae94-13177a363e38",
      "name": "check if postgress is newer or notion lastedited1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        120,
        940
      ]
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nTodoist_lastedited = schedule trigger time",
        "height": 283.10800358635885
      },
      "id": "d7cc1dc2-97a0-4d08-bf7e-fdbbb52b80ad",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        1453
      ]
    },
    {
      "parameters": {
        "content": "Todoist_lastedited = [notion last edited,notion created].max()",
        "height": 438.940919518459
      },
      "id": "7ccffa97-a26c-4404-93db-f0ca672e4711",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        40,
        400
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "2d311608-72ad-4dd1-a2f3-eb70edab29da",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -780,
        1140
      ],
      "credentials": {
        "postgres": {
          "id": "VjwtHD0NlADbWi30",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "id_todoist",
              "field2": "id_todoist"
            }
          ]
        },
        "options": {
          "multipleMatches": "first"
        }
      },
      "id": "8f3b2909-98d7-48a6-92f4-b2fbf71c15dd",
      "name": "Compare Datasets",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -540,
        1220
      ]
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Todoist ID empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Todoist2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres2": {
      "main": [
        [
          {
            "node": "keep changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres4": {
      "main": [
        [
          {
            "node": "Todoist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Trigger1": {
      "main": [
        [
          {
            "node": "Todoist ID empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist2": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Todoist ID empty?": {
      "main": [
        [
          {
            "node": "Todoist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "keep changes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres5": {
      "main": [
        [
          {
            "node": "Notion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "Todoist4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "keep changes": {
      "main": [
        [
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion2": {
      "main": [
        [
          {
            "node": "check if postgress is newer or notion lastedited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if postgress is newer or notion lastedited": {
      "main": [
        [
          {
            "node": "Notion3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres6": {
      "main": [
        [
          {
            "node": "keep changes1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "keep changes1": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
